IDI_ICON1               ICON    DISCARDABLE     "resources/app_icon.ico"


1 VERSIONINFO
FILEVERSION    0, 0, 0, 0
PRODUCTVERSION 0, 0, 0, 0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName", "Tianyu Song\0"
                VALUE "FileDescription", "Realsense Tool Tracker\0"
                VALUE "FileVersion", "git\0"
                VALUE "OriginalFilename", "ir-tracking-app.exe\0"
                VALUE "ProductName", "Realsense Tool Tracker\0"
                VALUE "ProductVersion", "git\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}